.box-layout {
    align-items: center;
    // background: url('/images/bg.jpg');
    background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }
  
  .box-layout__box {
    background: fade-out(rgb(236, 236, 236), .1);
    border-radius: 5px;
    padding: $xl-size $xl-size;
    text-align: center;
    width: 40rem;
  }
  
  .box-layout__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
  }
  
  .icon {
      width: 100px;
      height: 100px;
  }